<section class="section-nav-categories text-left">
    <div class="container">
        <div class="row p-0 m-0">
            <div class="col nav-categories-container d-block p-0">
               <div class="nav-categories ">
                    <ul class="nav-list-categories">
                        <li class="nav-list-categories-item float-left ">
                            <a class="nav-list-categories-link " href="#">Categoria</a>
                        </li>
                        <li class="nav-list-categories-item">
                            <a class="nav-list-categories-link" href="#">Categoria</a>
                        </li>
                        <li class="nav-list-categories-item">
                            <a class="nav-list-categories-link" href="#">Categoria</a>
                        </li>
                        <li class="nav-list-categories-item">
                            <a class="nav-list-categories-link" href="#">Categoria</a>
                        </li>
                        <li class="nav-list-categories-item">
                            <a class="nav-list-categories-link" href="#">Categoria</a>
                        </li>
                        <li class="nav-list-categories-item">
                            <a class="nav-list-categories-link" href="#">Categoria</a>
                        </li>
                        <li class="nav-list-categories-item">
                            <a class="nav-list-categories-link" href="#">Categoria</a>
                        </li>
                        <li class="nav-list-categories-item">
                            <a class="nav-list-categories-link" href="#">Categoria</a>
                        </li>
                        <li class="nav-list-categories-item">
                            <a class="nav-list-categories-link" href="#">Categoria</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>